Repository titancamp/travely, pull requests merged in 2021-04, with the labels that each got.

#204 Issue- Auth Implementation - Authentication and role parts added
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/appsettings.json
Labels: service manager

#217 Identity manager/agent map fix
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/IdentityServerDbContextModelSnapshot.cs
  src/IdentityManager/Service.Abstractions/Models/Request/AgencyRequestModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/AgencyResponseModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/UserResponseModel.cs
  src/IdentityManager/Service/Configs/AuthConfigs.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Mappers/AgencyProfile.cs
  src/IdentityManager/WebApi/Mappers/EmployeeProfile.cs
  src/IdentityManager/WebApi/Startup.cs
Labels: identity manager

#228 Config docker compose
  docker-compose.override.yml
  docker-compose.yml
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/FileServiceManager/FileService/Dockerfile
  src/FileServiceManager/FileService/FileService.csproj
  src/FileServiceManager/FileService/Properties/launchSettings.json
  src/PropertyManager/Travely.PropertyManager.API/Dockerfile
  src/PropertyManager/Travely.PropertyManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
Labels: Draft

#232 Fixed some of issues with users API
  IdentityManager.sln
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/Models/Request/UserRequestModel.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/IdentityServices/ProfileService.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/Service/Services/IdentityException.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Mappers/UserProfile.cs
  src/IdentityManager/WebApi/Properties/launchSettings.json
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/appsettings.json
Labels: identity manager

#236 Update CORS
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
Labels: scheduler manager
