Repository titancamp/travely, pull requests merged in 2021-03, with the labels that each got.

#135 Service manager/issue 124 bl implementation
  Travely.sln
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/UnitOfWorks/IUnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/Activity.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/ActivityType.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210226140142_ServiceManagerDB.Designer.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210226140142_ServiceManagerDB.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/UnitOfWorks/UnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Service/Interfaces/IActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Managers/ActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Mappers/ActivityProfile.cs
  src/ServiceManager/Travely.ServiceManager.Service/Protos/activity.proto
  src/ServiceManager/Travely.ServiceManager.Service/Services/ActivityService.cs
  src/ServiceManager/Travely.ServiceManager.Service/Startup.cs
Labels: service manager

#81 Identity manager/webapi identity
  src/IdentityManager/.editorconfig
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.EntityFramework/BaseRepository.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/BaseApiController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Identity/AuthenticationService.cs
  src/IdentityManager/WebApi/Identity/BaseService.cs
  src/IdentityManager/WebApi/Identity/IAuthenticationService.cs
  src/IdentityManager/WebApi/Identity/IBaseService.cs
  src/IdentityManager/WebApi/Models/ApplicationUser.cs
  src/IdentityManager/WebApi/Models/ForgotPasswordViewModel.cs
  src/IdentityManager/WebApi/Models/LoginViewModel.cs
  src/IdentityManager/WebApi/Models/RegisterViewModel.cs
  src/IdentityManager/WebApi/Models/Request/AgencyRequestModel.cs
  src/IdentityManager/WebApi/Models/Request/UserRequestModel.cs
  src/IdentityManager/WebApi/Models/ResetPasswordViewModel.cs
  src/IdentityManager/WebApi/Models/Response/AgencyResponseModel.cs
  src/IdentityManager/WebApi/Models/Response/UserResponseModel.cs
  src/IdentityManager/WebApi/Models/ResultViewModel.cs
Labels: identity manager

#143 Service manager/issue 15 create grpc client
  proto/activity.proto
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/ServiceManager/IServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Abstraction/TourManager.Clients.Abstraction.csproj
  src/TourManager/TourManager.Clients.Implementation/Mappers/ActivityProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/ServiceManager/ServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Clients/Activity.cs
  src/TourManager/TourManager.Common/Clients/ActivityResponse.cs
  src/TourManager/TourManager.Common/Clients/ActivityType.cs
  src/TourManager/TourManager.Common/Clients/ResponseStatus.cs
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
Labels: service manager, tour manager

#151 Identity manager/check auth
  .gitignore
  src/IdentityManager/WebApi/appsettings.Production.json
  src/Shared/IdentityClient/Common/Common.cs
  src/Shared/IdentityClient/Common/User.cs
  src/Shared/IdentityClient/Config/ConfigServicesIdentityService.cs
  src/Shared/IdentityClient/Extensions/UserExtensions.cs
  src/Shared/IdentityClient/README.md
  src/Shared/IdentityClient/Travely.Shared.IdentityClient.Authorization.csproj
Labels: identity manager

#134 Implementations of initial commit's controllers + FileSystemConifugur…
  Travely.sln
  src/FileServiceManager/FileService.Tests/FileService.Tests.csproj
  src/FileServiceManager/FileService/Controllers/FileController.cs
  src/FileServiceManager/FileService/DAL/FileSystemConfiguration/FileSystemJsonConfiguration/FileSystemConfig.json
  src/FileServiceManager/FileService/DAL/FileSystemConfiguration/FileSystemJsonConfiguration/FileSystemJsonConfigurator.cs
  src/FileServiceManager/FileService/DAL/Interfaces/IFileSystemConfigurator.cs
  src/FileServiceManager/FileService/DAL/Interfaces/IStorage.cs
  src/FileServiceManager/FileService/DAL/Storages/FileSystemStorage.cs
  src/FileServiceManager/FileService/DAL/Storages/FileSystemStorage/FileSystemStorage.cs
  src/FileServiceManager/FileService/DAL/Storages/Options/StorageOption.cs
  src/FileServiceManager/FileService/FileService.csproj
  src/FileServiceManager/FileService/Helpers/ErrorHandlingMiddleware.cs
  src/FileServiceManager/FileService/Helpers/FileExtension.cs
  src/FileServiceManager/FileService/Helpers/FileHelper.cs
  src/FileServiceManager/FileService/Helpers/FileSystemServiceRegistrator.cs
  src/FileServiceManager/FileService/Program.cs
  src/FileServiceManager/FileService/Startup.cs
  src/FileServiceManager/FileService/appsettings.Development.json
  src/FileServiceManager/FileService/appsettings.json
  src/FileServiceManager/Models/CompanyMetadata.cs
  src/FileServiceManager/Models/FileMetadata.cs
Labels: equipment manager

#152 Issue-148 - activityType searching call proto added, AsNoTrucking add…
  proto/activity.proto
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/TourManager/TourManager.Clients.Abstraction/ServiceManager/IServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/ServiceManager/ServiceManagerClient.cs
  src/TourManager/TourManager.Common/Clients/ActivityType.cs
Labels: service manager

#153 remove AsNoTrucking
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
Labels: service manager

#155 Scheduler manager/business layer
  src/SchedulerManager/Travely.SchedulerManager.API/ConfigManager/ConnectionStrings.cs~Stashed changes
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Job/IBookingNotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/BookingExpireNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/CreateNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/NotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/UpdateNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/UserNotificationInfo.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/IMessageCompiler.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/DTOs/NotificationDTO.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/DTOs/NotificationInfoDTO.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/DTOs/UpdateNotificationDTO.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Enums/MessageTemplate.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Worker.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Hubs/NotificationHub.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Travely.SchedulerManager.Notifier.csproj
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/DbInitializer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/Repository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/ScheduleJobRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/UserScheduleRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Configurations/ScheduleInfoConfiguration.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Configurations/ScheduleJobConfiguration.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Configurations/ScheduleMessageTemplateConfiguration.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Configurations/UserScheduleConfiguration.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IDbInitializer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IScheduleInfoRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IScheduleJobRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IScheduleMessageTemplateRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IUserScheduleRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Seeding/ScheduleMessageTemplateSeeding.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/SchedulerDbContext.Designer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/SchedulerDbContext.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Extensions/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/MapperProfile.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/MessageCompiler.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Job/BookingNotificationJobManager.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Job/BookingNotificationParameter.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Job/NotificationJob.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Job/NotificationJobParameter.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Services/BookingNotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Travely.SchedulerManager.Service.csproj
Labels: scheduler manager

#160 Fixed issue caused by seeding data.
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
Labels: scheduler manager

#159 Service manager into master
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  Travely.ServiceManager.UnitTests/Mocks.cs
  Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
  Travely.sln
  proto/activity.proto
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/UnitOfWorks/IUnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/Activity.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/ActivityType.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Travely.ServiceManager.Abstraction.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/DbContextOptionsBuilderExtension.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210226140142_ServiceManagerDB.Designer.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210226140142_ServiceManagerDB.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/ServiceManagerDbContextModelSnapshot.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/ServiceManagerDbContext.cs
  src/ServiceManager/Travely.ServiceManager.DAL/ServiceManagerDbContextFactory.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Travely.ServiceManager.DAL.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/UnitOfWorks/UnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
  src/ServiceManager/Travely.ServiceManager.Service/Interfaces/IActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Managers/ActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Mappers/ActivityProfile.cs
  src/ServiceManager/Travely.ServiceManager.Service/Program.cs
  src/ServiceManager/Travely.ServiceManager.Service/Properties/launchSettings.json
  src/ServiceManager/Travely.ServiceManager.Service/Services/ActivityService.cs
  src/ServiceManager/Travely.ServiceManager.Service/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/ServiceManager/Travely.ServiceManager.Service/appsettings.Development.json
  src/ServiceManager/Travely.ServiceManager.Service/appsettings.json
  src/ServiceManager/test.txt
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/ServiceManager/IServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Abstraction/TourManager.Clients.Abstraction.csproj
  src/TourManager/TourManager.Clients.Implementation/Mappers/ActivityProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/ServiceManager/ServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Clients/Activity.cs
  src/TourManager/TourManager.Common/Clients/ActivityResponse.cs
  src/TourManager/TourManager.Common/Clients/ActivityType.cs
  src/TourManager/TourManager.Common/Clients/ResponseStatus.cs
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
Labels: service manager

#158 Identity manager/register flow
  src/IdentityManager/DataService/IdentityServices/ProfileService.cs
  src/IdentityManager/DataService/IdentityServices/ResourceOwnerPasswordValidator.cs
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.Abstractions/Entities/Employee.cs
  src/IdentityManager/Repository.EntityFramework/Extensions/RepositoryServiceCollectionExtension.cs
  src/IdentityManager/Repository.EntityFramework/IdentityServerDbContext.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210310200610_Init.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210310200610_Init.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/IdentityServerDbContextModelSnapshot.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Extensions/ServiceConfigurationExtension.cs
  src/IdentityManager/WebApi/Filters/ValidateModelStateActionFilter.cs
  src/IdentityManager/WebApi/Identity/AuthenticationService.cs
  src/IdentityManager/WebApi/Identity/IAuthenticationService.cs
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
  src/IdentityManager/WebApi/Mappers/UserProfile.cs
  src/IdentityManager/WebApi/Models/Error/ErrorModel.cs
  src/IdentityManager/WebApi/Models/Error/ValidationErrorModel.cs
  src/IdentityManager/WebApi/Models/RegisterViewModel.cs
  src/IdentityManager/WebApi/Models/Request/RegisterRequestModel.cs
  src/IdentityManager/WebApi/Models/Request/UpdateAgencyRequestModel.cs
  src/IdentityManager/WebApi/Models/Request/UserRequestModel.cs
  src/IdentityManager/WebApi/Models/Response/UserResponseModel.cs
  src/IdentityManager/WebApi/Models/UserContextModel.cs
  src/IdentityManager/WebApi/Startup.cs
Labels: identity manager

#169 Tour manager
  Travely.sln
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.yml
  src/TourManager/TourManager.Api/Bootstrapper/TourClientServicesDIConfiguration.cs
  src/TourManager/TourManager.Api/Bootstrapper/TourManagerRepositoriesDIConfiguration.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/docker-compose.yml
Labels: tour manager

#166 Identity manager/register flow
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Identity/AuthenticationService.cs
  src/IdentityManager/WebApi/Identity/IAuthenticationService.cs
  src/IdentityManager/WebApi/Mappers/EmployeeProfile.cs
  src/IdentityManager/WebApi/Models/Request/UserRequestModel.cs
Labels: identity manager

#171 Tourmanager/authentication and authorization support
  Travely.sln
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
Labels: tour manager

#176 Tour manager
  Travely.sln
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
Labels: tour manager

#179 Service manager/issue 19 exposing service manager apis from tour mana…
  src/ServiceManager/Travely.ServiceManager.Service/Properties/launchSettings.json
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
Labels: service manager

#187 Merged master branch to property-manager
  Travely.sln
  docker-compose.override.yml
  docker-compose.yml
  proto/base.proto
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/Dockerfile
  src/PropertyManager/Travely.PropertyManager.API/Helpers/ApplicationBuilderExtensions.cs
  src/PropertyManager/Travely.PropertyManager.API/Helpers/ServiceCollectionExtensions.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/Converters/RepeatedFieldToCollectionConverter.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Program.cs
  src/PropertyManager/Travely.PropertyManager.API/Properties/launchSettings.json
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.API/Startup.cs
  src/PropertyManager/Travely.PropertyManager.API/Travely.PropertyManager.API.csproj
  src/PropertyManager/Travely.PropertyManager.API/appsettings.Development.json
  src/PropertyManager/Travely.PropertyManager.API/appsettings.json
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/PropertyDbContext.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210214141427_InitialMigration.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210214141427_InitialMigration.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/PropertyDbContextModelSnapshot.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Data/Travely.PropertyManager.Data.csproj
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/Extensions/ExpressionHelper.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Base/FilteringBaseModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Base/FilteringOperationType.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Base/OrderingBaseModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/AddPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Queries/GetPropertiesQuery.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Responses/PropertyResponse.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/ServiceBase.cs
  src/PropertyManager/Travely.PropertyManager.Service/Travely.PropertyManager.Service.csproj
  src/PropertyManager/test.txt
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequest.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponse.cs
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
  src/TourManager/TourManager.Service.Implementation/TourManager.Service.Implementation.csproj
Labels: property manager

#144 Service manager/issue 111 tests for activity manager
  Travely.sln
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityManagerTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Mocks.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
Labels: service manager

#191 Service manager/issue 111 tests for activity manager (#144)
  Travely.sln
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityManagerTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Mocks.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
Labels: service manager

#195 resolved merge conflicts on property manager
  Travely.sln
  azure-pipelines-fileservicemanager.yml
  azure-pipelines-filesystemmanager.yml
  azure-pipelines-identitymanager.webapi.yml
  azure-pipelines-propertymanager.yml
  azure-pipelines-schedulermanager.api.yml
  azure-pipelines-servicemanager.service.yml
  azure-pipelines-tourmanager.api.yml
  src/FileServiceManager/manifest.yaml
  src/IdentityManager/WebApi/manifest.yaml
  src/IdentityManager/manifest.yaml
  src/PropertyManager/Travely.PropertyManager.API/manifest.yaml
  src/SchedulerManager/Travely.SchedulerManager.API/manifest.yaml
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.Service/Properties/launchSettings.json
  src/ServiceManager/Travely.ServiceManager.Service/manifest.yaml
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityManagerTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Mocks.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Api/manifest.yaml
Labels: property manager

#196 implemented / always 401
  src/IdentityManager/DataService/Configs/AuthConfigs.cs
  src/IdentityManager/DataService/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/DataService/IdentityManager.DataService.csproj
  src/IdentityManager/Packages.props
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Extensions/ServiceConfigurationExtension.cs
  src/IdentityManager/WebApi/Properties/launchSettings.json
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/appsettings.Development.json
Labels: identity manager

#202 Tourmanager/develop migrations
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Labels: tour manager

#206 Merged master to property-manager
  azure-pipelines.yml
Labels: property manager

#209 Tourmanager/home screen api endpoints#173
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetBookingFilter.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetTourFilter.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Labels: tour manager

#215 Tourmanager/develop
  docker-compose.yml
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Controllers/TravelyControllerBase.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/ClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TenantEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetBookingFilter.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetTourFilter.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/ClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TenantConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Context/TourDbContext.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Activity.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Property.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
Labels: tour manager
