Repository titancamp/travely, pull requests merged in 2021-02, with the labels that each got.

#75 issue-7 - Layers, Repository, UnitOfWork are created for ServiceManager
  Travely.sln
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/UnitOfWorks/IUnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/Activity.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Travely.ServiceManager.Abstraction.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/Data/ServiceManagerDbContext.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Data/ServiceManagerDbContextFactory.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210201104233_ServiceManagerDb.Designer.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/20210201104233_ServiceManagerDb.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Migrations/ServiceManagerDbContextModelSnapshot.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Travely.ServiceManager.DAL.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/UnitOfWorks/UnitOfWork.cs
Labels: service manager

#74 Tourmanager.api initial models and some common types
  Commons/TourManager.CommonTypes/ActivityOption.cs
  Commons/TourManager.CommonTypes/BookingStatus.cs
  Commons/TourManager.CommonTypes/BookingType.cs
  Commons/TourManager.CommonTypes/PropertyOption.cs
  Commons/TourManager.CommonTypes/TourManager.CommonTypes.csproj
  Travely.sln
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Models/Activity.cs
  src/TourManager/TourManager.Models/Booking.cs
  src/TourManager/TourManager.Models/Client.cs
  src/TourManager/TourManager.Models/Property.cs
  src/TourManager/TourManager.Models/Tour.cs
  src/TourManager/TourManager.Models/TourManager.Models.csproj
Labels: tour manager

#80 Identity initial structure
  .editorconfig
  .gitignore
  IdentityManager.sln
  README.md
  Travely.sln
  src/IdentityManager/DataService/Class1.cs
  src/IdentityManager/DataService/IdentityManager.DataService.csproj
  src/IdentityManager/Directory.Build.props
  src/IdentityManager/Directory.Build.targets
  src/IdentityManager/Packages.props
  src/IdentityManager/WebApi/Controllers/WeatherForecastController.cs
  src/IdentityManager/WebApi/Dockerfile
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
  src/IdentityManager/WebApi/Program.cs
  src/IdentityManager/WebApi/Properties/launchSettings.json
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/WeatherForecast.cs
  src/IdentityManager/WebApi/appsettings.Development.json
  src/IdentityManager/WebApi/appsettings.json
  src/IdentityManager/test.txt
  src/IdentityManager/version.json
Labels: identity manager

#49 Created property manager projects
  Travely.sln
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Contracts/Models/Commands/AddPropertyCommand.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Contracts/Models/Queries/GetPropertiesQuery.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Contracts/Models/Responses/PropertyResponse.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Contracts/Services/IPropertyService.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Contracts/Travely.PropertyManager.Domain.Contracts.csproj
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Entities/Property.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain.Entities/Travely.PropertyManager.Domain.Entities.csproj
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/Services/PropertyService.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/Services/ServiceBase.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/Travely.PropertyManager.Domain.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyConfiguration.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data/EntityFramework/PropertyDbContext.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data/Travely.PropertyManager.Data.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Protos/properties.proto
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Travely.PropertyManager.GrpcService.Contracts.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Dockerfile
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Program.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Properties/launchSettings.json
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Services/PropertyService.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Startup.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Travely.PropertyManager.GrpcService.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/appsettings.Development.json
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/appsettings.json
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Bootstrapper.AutoMapper.cs
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Bootstrapper.Data.cs
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Bootstrapper.Domain.cs
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Helpers/ServiceCollectionExtensions.cs
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Travely.PropertyManager.Bootstrapper.csproj
Labels: property manager

#89 tour service abstraction
  Travely.sln
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Abstraction/TourManager.Service.Abstraction.csproj
  src/TourManager/TourManager.Service.Implementation/TourManager.Service.Implementation.csproj
  src/TourManager/TourManager.Service.Model/Activity.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Client.cs
  src/TourManager/TourManager.Service.Model/Property.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
  src/TourManager/TourManager.Service.Model/TourManager.Service.Model.csproj
Labels: tour manager

#93 Tourmanager/repository abstractions
  src/TourManager/TourManager.Api/Readme.md
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Api/docker-compose.yml
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/Booking.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/Client.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/Tour.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourClient.cs
  src/TourManager/TourManager.Repository.Abstraction/TourManager.Repository.Abstraction.csproj
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BaseRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/TourManager.Repository.EfCore.MsSql.csproj
  src/TourManager/TourManager.Repository.EfCore/Configurations/BookingConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/ClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Context/TourDbContext.cs
  src/TourManager/TourManager.Repository.EfCore/TourManager.Repository.EfCore.csproj
Labels: tour manager

#92 Tourmanager/model validations initial setup
  src/TourManager/TourManager.Service.Model/Tour.cs
  src/TourManager/TourManager.Service.Model/TourManager.Service.Model.csproj
  src/TourManager/TourManager.Service.Model/Validations/TourValidator.cs
Labels: tour manager

#95 all CommonTypes moved to TourManager library
  Travely.sln
  src/Commons/Travely.Common/Travely.Common.csproj
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Common/TourManager.Common.csproj
  src/TourManager/TourManager.Common/Types/ActivityOption.cs
  src/TourManager/TourManager.Common/Types/BookingStatus.cs
  src/TourManager/TourManager.Common/Types/BookingType.cs
  src/TourManager/TourManager.Common/Types/PropertyOption.cs
  src/TourManager/TourManager.Models/Activity.cs
  src/TourManager/TourManager.Models/Booking.cs
  src/TourManager/TourManager.Models/Client.cs
  src/TourManager/TourManager.Models/Property.cs
  src/TourManager/TourManager.Models/Tour.cs
  src/TourManager/TourManager.Models/TourManager.Models.csproj
  src/TourManager/TourManager.Service.Model/Activity.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Property.cs
  src/TourManager/TourManager.Service.Model/TourManager.Service.Model.csproj
Labels: tour manager

#94 Service manager/issue 11 create grpc services for activity crud
  src/ServiceManager/Travely.ServiceManager.Service/Interfaces/IActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Managers/ActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Mappers/ActivityProfile.cs
  src/ServiceManager/Travely.ServiceManager.Service/Protos/activity.proto
  src/ServiceManager/Travely.ServiceManager.Service/Protos/greet.proto
  src/ServiceManager/Travely.ServiceManager.Service/Services/ActivityService.cs
  src/ServiceManager/Travely.ServiceManager.Service/Services/GreeterService.cs
  src/ServiceManager/Travely.ServiceManager.Service/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
Labels: service manager

#86 Scheduler manager/issue 28
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IAsyncEndJob.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IAsyncJob.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IEnqueueAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IParameter.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IRecurrentAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/IScheduledAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/EnqueueAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/RecurrentAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/ScheduledAsyncJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/Travely.SchedulerManager.Job.csproj
  src/SchedulerManager/Travely.SchedulerManager.Service/InformationJob.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/InformationJobParameter.cs
Labels: scheduler manager

#88 Scheduler manager/Issue-87
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.Development.json
  src/SchedulerManager/Travely.SchedulerManager.Repository/Entities/MessageTemplate.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Entities/ScheduleInfo.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Entities/UserSchedule.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/Repository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/ScheduleInfoRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/EntityConfigurations/BaseEntity.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IEntity.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IIdentity.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IScheduleInfoRepository.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Migrations/20210212200028_init.Designer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Migrations/20210212200028_init.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Migrations/20210213185203_minor-changes.Designer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Migrations/20210213185203_minor-changes.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Migrations/SchedulerDbContextModelSnapshot.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/SchedulerDbContext.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Travely.SchedulerManager.Repository.csproj
Labels: scheduler manager

#110 Service manager/issue 90 activity service tests
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  Travely.ServiceManager.UnitTests/Mocks.cs
  Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
  Travely.sln
Labels: service manager

#77 Email functionality
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/IEmailService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Travely.SchedulerManager.Abstraction.csproj
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/EmailOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Travely.SchedulerManager.Notifier.csproj
Labels: scheduler manager

#102 Client manager preference crud
  proto/preference.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/IPreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/PreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceConfigurationExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceInstallerExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/PreferenceProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Services/PreferenceService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.json
Labels: client manager

#118 Client manager
  Travely.sln
  proto/client.proto
  proto/preference.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/IBaseRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/IPreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/ITouristRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/BaseEntity.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Preference.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Tourist.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Travely.ClientManager.Abstraction.csproj
  src/ClientManager/Travely.ClientManager.Repository/DbContext/TouristContext.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210211141540_InitDatabase.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210211141540_InitDatabase.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/TouristContextModelSnapshot.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/BaseRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/PreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/TouristRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Travely.ClientManager.Repository.csproj
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceConfigurationExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceInstallerExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/PreferenceProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Program.cs
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Services/PreferenceService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/ClientManager/Travely.ClientManager.Service/appsettings.json
Labels: client manager

#116 PR comment fixes
  src/PropertyManager/Travely.PropertyManager.API/Helpers/ServiceCollectionExtensions.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Base/FilteringBaseModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Base/FilteringOperationType.cs
Labels: property manager

#101 Tour manager issue26
  Travely.sln
  proto/client.proto
  proto/preference.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/IBaseRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/IPreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Abstraction/Repository/ITouristRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/BaseEntity.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Preference.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Tourist.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Travely.ClientManager.Abstraction.csproj
  src/ClientManager/Travely.ClientManager.Repository/DbContext/TouristContext.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210211141540_InitDatabase.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210211141540_InitDatabase.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/TouristContextModelSnapshot.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/BaseRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/PreferenceRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Repository/TouristRepository.cs
  src/ClientManager/Travely.ClientManager.Repository/Travely.ClientManager.Repository.csproj
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceConfigurationExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceInstallerExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Mappers/PreferenceProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Program.cs
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Services/PreferenceService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/ClientManager/Travely.ClientManager.Service/appsettings.json
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IClientRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/ClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TenantEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/TourManager.Repository.Abstraction.csproj
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BaseRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/ClientRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Abstraction/TourManager.Service.Abstraction.csproj
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Client.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
  src/TourManager/TourManager.Service.Model/Validations/TourValidator.cs
Labels: tour manager

#109 Identity manager/models
  IdentityManager.sln
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResource.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceSecret.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScopeClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScopeProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/Client.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientCorsOrigin.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientGrantType.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientIdPrestriction.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientPostLogoutRedirectUri.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientRedirectUri.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientSecret.cs
  src/IdentityManager/Repository.Abstractions/Entities/Employee.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResource.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResourceClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResourceProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/PersistedGrant.cs
  src/IdentityManager/Repository.Abstractions/Entities/Role.cs
  src/IdentityManager/Repository.Abstractions/Entities/Status.cs
  src/IdentityManager/Repository.Abstractions/Entities/User.cs
  src/IdentityManager/Repository.Abstractions/IAgencyRepository.cs
  src/IdentityManager/Repository.Abstractions/IBaseRepository.cs
  src/IdentityManager/Repository.Abstractions/IEmployeeRepository.cs
  src/IdentityManager/Repository.Abstractions/IUnitOfWork.cs
  src/IdentityManager/Repository.Abstractions/IUserRepository.cs
  src/IdentityManager/Repository.Abstractions/Travely.IdentityManager.Repository.Abstractions.csproj
  src/IdentityManager/Travely.IdentityManager.Repository/AgencyRepository.cs
  src/IdentityManager/Travely.IdentityManager.Repository/BaseRepository.cs
  src/IdentityManager/Travely.IdentityManager.Repository/Context/IdentityServerDbContext.cs
  src/IdentityManager/Travely.IdentityManager.Repository/EmployeeRepository.cs
  src/IdentityManager/Travely.IdentityManager.Repository/Travely.IdentityManager.Repository.csproj
  src/IdentityManager/Travely.IdentityManager.Repository/UnitOfWork.cs
  src/IdentityManager/Travely.IdentityManager.Repository/UserRepository.cs
Labels: identity manager

#121 Issue-144 - ActivityType repository added, UnitOfWork injected in Ser…
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IRepository.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/UnitOfWorks/IUnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/Activity.cs
  src/ServiceManager/Travely.ServiceManager.Abstraction/Models/Db/ActivityType.cs
  src/ServiceManager/Travely.ServiceManager.DAL/DbContextOptionsBuilderExtension.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/ServiceManagerDbContext.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Travely.ServiceManager.DAL.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/UnitOfWorks/UnitOfWork.cs
  src/ServiceManager/Travely.ServiceManager.Service/Managers/ActivityManager.cs
  src/ServiceManager/Travely.ServiceManager.Service/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/ServiceManager/Travely.ServiceManager.Service/appsettings.json
Labels: service manager

#115 Scheduler manager/issue 29 reminder service
  src/SchedulerManager/Travely.SchedulerManager.API/ConfigManager/ConnectionStrings.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Protos/greet.proto
  src/SchedulerManager/Travely.SchedulerManager.API/Protos/reminder.proto
  src/SchedulerManager/Travely.SchedulerManager.API/Services/GreeterService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
Labels: scheduler manager

#128 Identity manager/migrations
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.Abstractions/Entities/Status.cs
  src/IdentityManager/Repository.Abstractions/Entities/User.cs
  src/IdentityManager/Repository.Abstractions/IBaseRepository.cs
  src/IdentityManager/Repository.EntityFramework/BaseRepository.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210218214309_CreateIdentityServerDB.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210218214309_CreateIdentityServerDB.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/IdentityServerDbContextModelSnapshot.cs
  src/IdentityManager/Repository.EntityFramework/UnitOfWork.cs
  src/IdentityManager/Repository.EntityFramework/UserRepository.cs
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/appsettings.Development.json
Labels: identity manager

#125 Identity manager/ids4 implementation
  .gitignore
  src/IdentityManager/DataService/Class1.cs
  src/IdentityManager/DataService/Configs/AuthConfigs.cs
  src/IdentityManager/DataService/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/DataService/IdentityManager.DataService.csproj
  src/IdentityManager/DataService/IdentityServices/ProfileService.cs
  src/IdentityManager/DataService/IdentityServices/ResourceOwnerPasswordValidator.cs
  src/IdentityManager/Repository.EntityFramework/Extensions/RepositoryServiceCollectionExtension.cs
  src/IdentityManager/WebApi/Controllers/WeatherForecastController.cs
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
  src/IdentityManager/WebApi/Program.cs
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/WeatherForecast.cs
  src/IdentityManager/WebApi/appsettings.Development.json
  src/IdentityManager/WebApi/tempkey.jwk
Labels: identity manager

#129 implemented IExtensionGrantValidator
  src/IdentityManager/DataService/Configs/AuthConfigs.cs
  src/IdentityManager/DataService/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/DataService/IdentityServices/DelegationGrantValidator.cs
  src/IdentityManager/DataService/IdentityServices/ProfileService.cs
  src/IdentityManager/WebApi/Startup.cs
Labels: identity manager

#131 Minor fixes
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Job/IBookingNotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/DTOs/NotificationDTO.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/DTOs/UpdateNotificationDTO.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/Mapper.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Services/BookingNotificationService.cs
Labels: scheduler manager

#99 Identity manager/authorize validation
  src/Shared/IdentityClient/Common/Common.cs
  src/Shared/IdentityClient/Common/User.cs
  src/Shared/IdentityClient/Config/ConfigIdentityService.cs
  src/Shared/IdentityClient/Config/ConfigServicesIdentityService.cs
  src/Shared/IdentityClient/Extensions/AuthorizationHeaderExtensions.cs
  src/Shared/IdentityClient/Extensions/UserExtensions.cs
  src/Shared/IdentityClient/Travely.Shared.IdentityClient.Authorization.csproj
  src/Shared/IdentityClient/Travely.Shared.IdentityClient.Authorization.sln
Labels: identity manager

#132 Redis integration,
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Worker.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Travely.SchedulerManager.Notifier.csproj
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/MapperProfile.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Services/BookingNotificationService.cs
Labels: scheduler manager

#119 Added exception handling
  Travely.Services.Common/CustomExceptions/BadRequestException.cs
  Travely.Services.Common/CustomExceptions/BusinessLayerException.cs
  Travely.Services.Common/CustomExceptions/DataLayerException.cs
  Travely.Services.Common/CustomExceptions/DeleteFailureException.cs
  Travely.Services.Common/CustomExceptions/InvalidArgumentException.cs
  Travely.Services.Common/CustomExceptions/NotFoundException.cs
  Travely.Services.Common/Extensions/ExceptionHandlingMiddlewareExtensions.cs
  Travely.Services.Common/Middlewares/ExceptionHandlingMiddleware.cs
  Travely.Services.Common/Middlewares/GRPCExceptionHandlingMiddleware.cs
  Travely.Services.Common/Travely.Services.Common.csproj
  Travely.sln
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
Labels: client manager

#126 Tourmanager/issues 103
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
  src/TourManager/TourManager.Api/Bootstrapper/TourManagerDIConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/Utils/TravelyClaimTypes.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Labels: tour manager

#133 new version of configuration
  src/SchedulerManager/Travely.SchedulerManager.API/ConfigManager/ConnectionStrings.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Helpers/ConfigureServicesExtensions.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Travely.SchedulerManager.Abstraction.csproj
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/EmailOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/JobOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/NotifierOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/RepositoryOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Travely.SchedulerManager.Common.csproj
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Travely.SchedulerManager.Repository.csproj
Labels: scheduler manager
