Repository titancamp/travely, changes with the owners that CODEOWNERS names for each.
All owners: @HAghajanyan-ST, @artonoyan, @tadart, @levonh-st, @TDavtyan-ST

CODEOWNERS:

/src/TourManager @HAghajanyan-ST
/src/SchedulerManager @artonoyan
/src/ServiceManager @tadart
/src/PropertyManager @levonh-st
/src/EquipmentManager @TDavtyan-ST

removed repository layer as discussed
  Travely.sln
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/Services/PropertyService.cs
  src/PropertyManager/Domain/Travely.PropertyManager.Domain/Travely.PropertyManager.Domain.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data.Contracts/Repositories/IPropertyRepository.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data.Contracts/Travely.PropertyManager.Data.Contracts.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data/Repositories/PropertyRepository.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.Data/Travely.PropertyManager.Data.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Startup.cs
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Travely.PropertyManager.GrpcService.csproj
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Bootstrapper.Data.cs
  src/PropertyManager/Shared/Travely.PropertyManager.Bootstrapper/Helpers/ServiceCollectionExtensions.cs
Owners: @levonh-st

Job Client Configuration
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Job/IJobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/JobService.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/Travely.SchedulerManager.Job.csproj
Owners: @artonoyan

sample code removed
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Protos/greet.proto
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Services/GreeterService.cs
Owners: @levonh-st

Blank Grpc service for property added
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Protos/properties.proto
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Travely.PropertyManager.GrpcService.Contracts.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Services/PropertyService.cs
Owners: @levonh-st

renaming of the travely folder
  Travely.sln
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Program.cs
  src/TourManager/TourManager.Api/Properties/launchSettings.json
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.Development.json
  src/TourManager/TourManager.Api/appsettings.json
Owners: @HAghajanyan-ST

Update Travely.PropertyManager.GrpcService.Contracts.csproj
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService.Contracts/Travely.PropertyManager.GrpcService.Contracts.csproj
Owners: @levonh-st

Separated the abstraction logic changed Entities due to Mocking
  Travely.ClientManager.Domain/Entity/BaseEntity.cs
  Travely.ClientManager.Domain/Entity/Client/ClientPreference.cs
  Travely.ClientManager.Domain/Enum/Client/ClientType.cs
  Travely.ClientManager.Domain/Enum/Client/GenderType.cs
  Travely.Repository.Common/Entity/Client/Client.cs
  Travely.Repository.Common/Entity/Client/Preference.cs
  Travely.Repository.Common/Enum/Client/ClientType.cs
  Travely.Repository.Common/Enum/Client/GenderType.cs
  Travely.Repository.Common/Travely.Repository.Common.csproj
  Travely.sln
  src/ClientManager/Travely.ClientManager.Abstraction/Repositories/IBaseRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Repositories/IClientRepository.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Travely.ClientManager.Abstraction.csproj
  src/ClientManager/Travely.ClientManager.Domain/Entity/BaseEntity.cs
  src/ClientManager/Travely.ClientManager.Domain/Entity/Client/Client.cs
  src/ClientManager/Travely.ClientManager.Domain/Entity/Client/ClientPreference.cs
  src/ClientManager/Travely.ClientManager.Domain/Entity/Client/Preference.cs
  src/ClientManager/Travely.ClientManager.Domain/Travely.ClientManager.Domain.csproj
  src/ClientManager/Travely.ClientManager.Repository.SqlServer/Migrations/20210126113233_Client_Model_Changed.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository.SqlServer/Migrations/20210126113233_Client_Model_Changed.cs
  src/ClientManager/Travely.ClientManager.Repository.SqlServer/Repositories/BaseRepository.cs
  src/ClientManager/Travely.ClientManager.Repository.SqlServer/Repositories/ClientRepository.cs
  src/ClientManager/Travely.ClientManager.Repository.SqlServer/Travely.ClientManager.Repository.SqlServer.csproj
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceInstallerExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
Owners: none

Proto file changed due to entity changes
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Protos/client.proto
Owners: none

GetClientWithPreferences added but not implemented yet
  src/ClientManager/Travely.ClientManager.Service/Protos/client.proto
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
Owners: none

implemented GetClientWithPreferences method
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Protos/client.proto
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
Owners: none

Fixed compile error.
  src/TourManager/Service/Services/TourService.cs
Owners: @HAghajanyan-ST

added docker compose and read me in tour manager repo
  src/TourManager/Repository/Readme.md
  src/TourManager/Repository/docker-compose.yml
  src/TourManager/Service/Services/TourService.cs
Owners: @HAghajanyan-ST

added preference proto file
  Travely.sln
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Protos/client.proto
  src/ClientManager/Travely.ClientManager.Service/Protos/preference.proto
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
Owners: none

Abstraction and Domain changed version from 3.1 to .NET 5
  src/ClientManager/Travely.ClientManager.Abstraction/Travely.ClientManager.Abstraction.csproj
  src/ClientManager/Travely.ClientManager.Domain/Travely.ClientManager.Domain.csproj
Owners: none

Email functionality
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Travely.SchedulerManager.Abstraction.csproj
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/EmailOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Travely.SchedulerManager.Notifier.csproj
Owners: @artonoyan

code clean up
  src/PropertyManager/Infrastructure/Travely.PropertyManager.GrpcService/Startup.cs
Owners: @levonh-st
